# Python
backend/venv/
__pycache__/
*.pyc

# React / Node
frontend/node_modules/
frontend/build/
backend/node_modules/

# Environment files
.env
*.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/compare_api/node_modules/
backend/medications.db
